version: '3.7'
services:
    postgres1:
        image: postgres:12.2-alpine
        environment:
            POSTGRES_USER: postgres
            POSTGRES_DB: postgres
            POSTGRES_PASSWORD: password
        command: >
            postgres
              -c wal_level=logical
              -c max_replication_slots=10
              -c max_logical_replication_workers=4
              -c max_sync_workers_per_subscription=2
              -c max_worker_processes=8
              -c max_wal_senders=10
              -c hba_file=/etc/postgres/pg_hba.conf
        volumes:
        - ./volumes/postgres1/:/var/lib/postgresql/data/
        - ./pg_hba.conf:/etc/postgres/pg_hba.conf

    postgres2:
        image: postgres:12.2-alpine
        environment:
            POSTGRES_USER: postgres
            POSTGRES_DB: postgres
            POSTGRES_PASSWORD: password
        command: >
            postgres
              -c wal_level=logical
              -c max_replication_slots=10
              -c max_logical_replication_workers=4
              -c max_sync_workers_per_subscription=2
              -c max_worker_processes=8
              -c max_wal_senders=10
              -c hba_file=/etc/postgres/pg_hba.conf
        volumes:
        - ./volumes/postgres2/:/var/lib/postgresql/data/
        - ./pg_hba.conf:/etc/postgres/pg_hba.conf